
.container_info-miguel{
    background-color: var(--bg-primary);
    padding: calc(var(--padding) * 5) calc(var(--padding) / 1.6);
    & .conta_info-miguel{
        max-width: 1800px;
        margin: auto;
        & .cont_info-miguel{
            background-color: var(--bg-light);
            display: flex;
            align-items: center;
            max-width: 1200px;
            margin: auto;
            border-top-left-radius: calc(var(--border) * 3.125);
            border-bottom-right-radius: calc(var(--border) * 3.125);
            overflow: hidden;
            & .img_miguel{
                width: 400px;
                & img{
                    width: 100%;
                }
            }
            & .content_miguel{
                width: 800px;
                padding: calc(var(--padding) * 1.25);
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: calc(var(--gap) * 2.5);
                & p{
                    max-width: 600px;
                    text-align: justify;
                    line-height: calc(var(--spacing-size) * 1.5);
                }
                & a{
                    text-decoration: none;
                    color: white;
                    background-color: var(--bg-tertiary);
                    padding: calc(var(--padding) / 1.6);
                    border-radius: calc(var(--border) / 1.6);
                }
                & span{
                    display: flex;
                    align-items: center;
                    gap: calc(var(--gap) / 1.6);
                    & .bi-geo-alt-fill{
                        color: var(--tertiary-color);
                    }
                }
            }
        }
    }
}

.container_servicios{
    background: linear-gradient(var(--bg-dark-transp_intense),var(--bg-dark-transp_intense)),url(../img/servicos_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: calc(var(--padding) * 5) 0;
    & .conta_servicios{
        max-width: 1800px;
        margin: auto;
        & h2{
            text-align: center;
        }
        & .cont_servicios{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: calc(var(--gap) * 2.5);
            max-width: 1400px;
            margin: auto;
            margin-top: calc(var(--margin) * 3.75);
            & .servicio{
                width: 400px;
                background-color: var(--bg-primary);
                padding: calc(var(--padding) * 2.5) calc(var(--padding) * 1.875);
                margin:  0 calc(var(--margin) / 1.6);
                border-top-left-radius: calc(var(--border) * 2.5);
                border-top-right-radius: calc(var(--border) * 2.5);
                border-bottom-left-radius: calc(var(--border) * 2.5);
                border-bottom-right-radius: calc(var(--border) * 6.25);;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: calc(var(--gap) * 2.5);
                transition: var(--transition);
                &:hover{
                    background-color: white;
                    color: var(--primary-color);
                }
                &:hover .icon_servicio{
                    background-color: var(--bg-primary);
                    color: white;
                    transform:rotate(360deg);
                }
                & .icon_servicio{
                    padding: calc(var(--padding) * 1.25);
                    background-color: white;
                    border-radius: 50%;
                    transform: rotate(0);
                    color: var(--primary-color);
                    transition: var(--transition);
                }
                & p{
                    line-height: calc(var(--spacing-size) * 1.5);
                    text-align: justify;
                    font-size: calc(var(--font-size) * 0.875);
                }
            }
        }
    }
}



@media(width <=1320px){
    .container_servicios{
        & .conta_servicios{
            & .cont_servicios{
                justify-content: center;
            }
        }
    }
}

@media(width <=950px){
    .cont_info-miguel{
        flex-wrap: wrap;
        justify-content: center;
        padding: calc(var(--padding) * 1.25) 0;
    }
    .container_servicios{
        & .conta_servicios{
            & .cont_servicios{
                justify-content: center;
            }
        }
    }
}

@media(width <=650px){
    .container_info-miguel{
        & .conta_info-miguel{
            & .cont_info-miguel{
                padding: 0;
                & .content_miguel{
                    display: grid;
                    gap: calc(var(--gap) * 1.5);
                    & h2{
                        text-align: center;
                        font-size: calc(var(--font-size) * 1.25);
                   }
                   & p{
                        font-size: calc(var(--font-size) * 0.875);
                        line-height: calc(var(--spacing-size) * 1.25);
                   }
                   & a{
                        text-align: center;
                        font-size: calc(var(--font-size) * 0.875);
                        & .bi-envelope-fill{
                            display: none;
                        }
                   }
                   & span{
                        justify-content: center;
                   }
                }
            }
        }
    }
}