
.container_banner{
    background: linear-gradient(var(--bg-dark-transp_intense),var(--bg-dark-transp_intense)),url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    & .container-figcation_banner{
        max-width: var(--max-width);
        margin: auto;
        display: flex;
        align-items: end;
        & .figcation_banner{
            border-top-left-radius: calc(var(--border) * 3.125);
            border-bottom-right-radius: calc(var(--border) * 3.125);
            background-color: var(--bg-dark-transp_intense);
            display: grid;
            gap: calc(var(--gap) * 2.5);
            padding: calc(var(--padding) * 3.75) calc(var(--padding) * 1.25);
            margin: 0 calc(var(--margin) * 1.25);
            color: var(--font-light);
            text-align: center;
            & p{
                line-height: calc(var(--spacing-size) * 1.25);
            }
            & .figcation_contact{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap-reverse;
                gap: calc(var(--gap) * 2.5);
                & a{
                    text-decoration: none;
                    color: var(--font-light);
                    background-color: var(--bg-primary);
                    padding: calc(var(--padding) / 1.6);
                    border-radius: calc(var(--border) / 1.6);
                    transition: var(--transition);
                    &:hover{
                        background-color: var(--font-light);
                        color: var(--primary-color);
                    }
                }
                & ul{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: calc(var(--gap) * 1.25);
                    list-style: none;
                    & a{
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

@media(width <=650px){
    .container_banner{
        & .container-figcation_banner{
            & .figcation_banner{
               gap: calc(var(--gap) * 1.25);
               font-size: calc(var(--font-size) * 0.875);
               & h2{
                    font-size: calc(var(--font-size) * 1.25);
               }
               & .figcation_contact{
                    margin-top: calc(var(--margin) * 1.25);
                    gap: calc(var(--gap) * 1.25);
                    & ul{
                        margin-bottom: calc(var(--margin) * 1.25);
                    }
                    & a{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: calc(var(--gap) / 4);;
                    }
               }
            }
        }
    }
}