
.container_banner{
    background: linear-gradient(var(--bg-dark-transp_intense),var(--bg-dark-transp_intense)),url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    & .figcation_banner{
        display: grid;
        margin: 0px 250px;
        gap: 20px;
        padding: 40px 20px;
        text-align: left;
        color: white;
    }
}